body {
  font-size: 16px;
  color: #fff;
  background-color: hotpink;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: paleturquoise;
  border-radius: 0;
  border: 0;
}

