body {
    font-size: 16px;
    color: #fff;
    background-color: maroon;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: hotpink;
    border-radius: 0;
    border: 0;
}